@import "styles.css";

/* Random Page */

.random-head {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.random-head p {
    line-height: 13px;
}

.random-head p a {
    color: #9C0F48;
    text-decoration: none;
}

/*
.row {
    padding: 0 0 4rem 0;
    gap: 3rem;
}
*/
/*GRID*/

.grid{
  display: grid;
  column-gap: 7rem;
  row-gap: 5rem;
  grid-auto-flow: dense;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 30px;
  text-align: center;
}

@media (max-width:1300px){ 
  .grid{
      grid-template-columns: repeat(2, 1fr);
      row-gap: 9rem;
  }
}

@media (max-width: 768px){ 
  .grid{
      grid-template-columns: repeat(1, 1fr);
      row-gap: 15rem;
  }
}


.card-meal {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-shadow: 0 8px 24px rgb(0 0 0 / 20%);
    transition: 0.55s;
}

.card-meal:hover {
    /* margin-top: -10px; */
    transform: scale(1.05);
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
}

.card-meal:hover>img {
    transform: scale(.6);
}

.card-meal img {
    width: 100%;
    height: 25vh;
    overflow: hidden;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body-meal {
    padding: 1rem 1rem 2rem 1rem;
}

.card-body-meal a {
    text-decoration: none;
}

.card-title {
    color: #470D21;
}

.container-meal {
  display: flex;
    height: 400px;
   justify-content: center;
}

.flex-container-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    overflow: auto;
    flex-direction: row;
}

.read-more a {
    text-decoration: underline;
    color: #9C0F48;
}

.read-more a:hover {
    color: #bf1458;
}

.footer {
    padding: 5% 5% 5%;
    margin: 0;
    max-width: unset;
    background-color: rgb(30, 29, 29);
    text-align: center;
    /*background-image: linear-gradient(rgba(7, 9, 14, .75), rgba(5, 7, 12, 0.75)), url(/assets/foodexample.webp);*/
    color: white;
}

.footer h2 {
    font-family: 'Montserrat', sans-serif;
    color: #b21152;
    font-weight: 950;
}

.footer .social svg {
    width: 60%;
    fill: white;
    transition: 0.5s;
}

.footer .social svg:hover {
    transform: scale(1.05);
    fill: #bf1458;
}

.footer .row {
    gap: 0;
    padding: 0;
}

@media (max-width: 575px) {

    .input {
        padding: 3rem 0;
    }

    .back {
        border: solid 1px #595959;
        padding: 1rem;
        width: 50%;
        margin-left: 1rem;
        border-radius: 4px;
    }

    .random-head {
        text-align: center;
        padding: 3rem 1rem 0;
    }

    .random-head p {
        line-height: 13px;
    }

    .random-head p a {
        color: #9C0F48;
        text-decoration: none;
    }

    .container {
        padding: 2.5rem 2rem 5.5rem 2rem;
        text-align: center;
    }

    .row {
        flex-direction: column;
        gap: 2.5rem;
    }

    .card-meal {
        width: 100%;
        height: 48vh;
    }

    .card-meal img {
        height: 30vh;
    }

    .read-more a {
        padding: 4% 25%;
        border-radius: 4px;
        background-color: #9C0F48;
        color: white;
        text-decoration: none;
    }

    .card-title {
        font-size: 18px;
    }
}
#loader{
    display: none;
}



.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: rgb(8, 8, 8);
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  