@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-black);
    background: var(--color-white);
}

:root {
    --color-wine-800: #470D21;
    --color-wine-400: #9a0c4a;
    --color-wine-200: #AE3C6E;
    --color-white: #F9F9F9;
    --color-black: #1E1E1E;
}

/*Recipe appp*/
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--color-white);
}

/* The best  */
.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--color-white);
}

/* paragraf of Recipes */
.text {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--color-black);
    text-align: justify;
}

/* title of Recipes and text of boton random */
.title-recipe {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--color-wine-800);
}

.searh-button {
    font-family: 'Inter', sans-serif;
    color: var(--color-white);
    width: 65px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid var(--color-wine-400);
    background: var(--color-wine-400);
    cursor: pointer
}

.searh-button:hover {
    background: var(--color-white);
    color: var(--color-wine-400);
    border: 1px solid var(--color-wine-400);
}

.link-back{
    color: var(--color-wine-400);
    font-size: 1.2rem;
}

.link-back:hover{
    color: var(--color-wine-400);
}

/* Ignore the styles, used as an example */
.box1 {
    background: var(--color-wine-800);
    color: var(--color-white);
    padding: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.box2 {
    background: var(--color-wine-400);
    color: var(--color-white);
    padding: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.box3 {
    background: var(--color-wine-200);
    color: var(--color-white);
    padding: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.box4 {
    background: var(--color-black);
    padding: 20px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}